DISCORD_TOKEN=your_discord_bot_token
DISCORD_CLIENT_ID=1549966449177796668
DISCORD_CLIENT_SECRET=

SESSION_SECRET=change_this_to_a_long_random_secret

PORT=3000

FRONTEND_URL=https://your-github-username.github.io/your-repository-name/

REDIRECT_URI=https://your-backend-domain.com/auth/discord/callback
