DISCORD_TOKEN=MTU0OTk2NjQ0OTE3Nzc5NjY2OA.GA-_er.gHWF1NflD4edMioFqmq1D7G6glKqjWTbtwZEes
DISCORD_CLIENT_ID=1549966449177796668
DISCORD_CLIENT_SECRET=CNmFvWFpg_NPpBdkvP5khMLtuZjD-p3o

SESSION_SECRET=DuckyDashboard_8fK29xP7mQ4vL6sR2

PORT=3000

FRONTEND_URL=https://your-github-username.github.io/your-repository-name/

REDIRECT_URI=https://your-backend-domain.com/auth/discord/callback
