DISCORD_TOKEN=
DISCORD_CLIENT_ID=1549966449177796668
DISCORD_CLIENT_SECRET=

SESSION_SECRET=DuckyDashboard_8fK29xP7mQ4vL6sR2

PORT=3000

FRONTEND_URL=https://your-github-username.github.io/your-repository-name/

REDIRECT_URI=https://your-backend-domain.com/auth/discord/callback
